@model JobOffer
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<p>Id of job: @Model.Id, Name of Job: @Model.JobTitle</p>
<p>Apply for this job (SOON)</p>
@Html.ActionLink("Return to job index", "Index")

