@model List<JobOffer>

@{
    ViewData["Title"] = "Job Offer list";
}

<h2>Job Offer list</h2>
<ul>
    @foreach (var offer in Model.OrderBy(o => o.JobTitle))
    {
        <li>@Html.ActionLink(offer.JobTitle, "Details", new { id = offer.Id })</li>
    }
</ul>
<br />
<input type="button" name="addJobOffer" value="Add Job Offer" onclick="location.href='@Url.Action("AddJobOffer", "JobOffer")'" />
